.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.add-staff-input {
    /* Add consistent spacing between input fields */
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    //padding: 10px;
    font-size: 14px;
  }

#staff-add-btn{
    // border: 1px solid  #1eb2a6;
    padding: 10px 20px;
    background-color: #1eb2a6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: white;
        color: #1eb2a6;
        border: 0.5px solid #1eb2a6;
    }
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }