.edit-course{
    // align-items: center;
    // margin-left: 10%;
    margin-top: 5%;

    .edit-field{
        display: flex;
        align-items: center;
        gap: 10px; 
        margin-top: 15px;
    }
    #add-module{
        &:hover{
            color: blue;
           }
    }
     
    #remove{
        color: red;
    }
    .list-item{
        width: 100%;
    }
    
}