.payment-method{
    align-items: center;
    
}
.stu-details{
   //background-color:aquamarine;
   margin-top: 10px;
   display: flex;
   margin-left: 200px;
   justify-content: space-between;
   margin-right: 200px;

}


h2{
    color: gray;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.list-points{
    //background-color: aqua;
    margin-top: 20px;
    //margin-left: 10px;
    margin-right: 40px;
    border: 1px solid palevioletred;
    padding: 10px;
    width: 40%;
   height: 675px;
}
.points{
    font-size: medium;
}
.online-pay{
    border: 1px solid palevioletred;
    height: 625px;
    //background-color: aquamarine;
    margin-top: 20px;
    padding: 10px;

}
.online-box{
    margin-top: 20px;
}
#feeAmountTitle{
    color: gray;
}

.register-button{
    width: 20%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    margin-left: 75%;
    background-color: rgb(95, 95, 238);
    color: aliceblue;

    &:hover{
        background-color: blue;
    }
}
.FormData{
    margin-top: 5px;
}



