.registrationFrom{
    align-items: center;
    margin-left: 20%;
    margin-top: 2%;
.form-background{
        background-color: rgba(83, 192, 213, 0.5);

       
    }
}
#regi-topic{
    color: gray;
    margin-left: 40%;
}