.student{
    width: 100%;
    height: 100vh;

    .main-header{
        height: auto;
    }
    .bottom-header{
        display: flex;
        height: 100%;

        .side-bar{
            display: flex;
            width:15%;
            background-color: black;
            height: auto;
        }
        .search-bar{
            display: flex;
            //background-color: antiquewhite;
            width: 100%;
            //display: flex;
            flex-direction: column;
            //height: 100vh;
            .seach-button-component{
                //background-color: blueviolet;
                width: 100%;
                height: 10%;
                align-items: center;
                .search-add{
                    background-color: aliceblue;
                    width: 75%;
                    align-items: center;
                    margin-left: 15%;
                    margin-top: 15px;
                 }
            }
            .title-button{
                //background-color: red;
                height: 15%;
                .title-button-div{
                display: flex;
                justify-content:space-between;
                width: 80%;
                margin-left: 5%;
                margin-top: 20px;
                font-size: 30px;

                #module-title{
                    font-size: 50px;
                    color: rgb(112, 109, 109);
                }
                #add{
                    color:#1eb2a6;
                    background-color: white;
                    height: 50px;
                    border: 0.5px solid #1eb2a6;
                    font-weight: bold;
                    &:hover{
                        background-color:#1eb2a6;
                        color: white;
                        
                      }
                }
                }
            }
            .main-content{
                //background-color: #1eb2a6;
    
               .all-modules{
                margin-left: 10%;
                //background-color: #1eb2a6;
    
                .moduledata{
                    background-color: aliceblue;
                    width: 85%;
    
                   
                }
               }
            }
        }

    }
}