.add-button{
    display: flex;
    align-items: center;
        
    #dro-dow-but {
            display: flex;
            align-items: center;
            background-color:#1eb2a6; 
            color: #fff; 
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        
            svg {
              margin-right: 8px; // Adjust the space between the icon and text
            }
          }
    
}