.course{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-top-header{
    height: auto;
  }

  .bottom-page{
    display: flex;
    height: 100%;

    .side-bar{
      display: flex;
      width:15%;
      background-color: black;
      height: auto;
  }
  .search-bar{
    display: flex;
    width: 100%;
    flex-direction: column;

    .seach-button-component{
      //background-color: blueviolet;
      width: 100%;
      height: 10%;
      align-items: center;

      .search-add{
        background-color: aliceblue;
        width: 75%;
        align-items: center;
        margin-left: 15%;
        margin-top: 15px;
     }
    }
    .title-button{
      height: 15%;

      .title-button-div{
        display: flex;
        justify-content:space-between;
        width: 80%;
        margin-left: 5%;
        margin-top: 20px;
        font-size: 30px;

        #course-title{
          font-size: 50px;
          color: rgb(112, 109, 109);
        }
        #add-course-button{
          color: white;
          background-color: #1eb2a6;
          height: 50px;
          border: 0.5px solid #1eb2a6;
          font-weight: bold;
                    
          &:hover{
            background-color: white;
            color: #1eb2a6;
            border: 0.5px solid #1eb2a6;
            }
        }
      }
    }
    .coursedetails{
        .grids{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }
    }
    }
  }
}

@media screen and (max-width: 768px) {
  .grids {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grids {
    grid-template-columns: repeat(2, 1fr);
  }
}