.enrolled-course{
    background-color: palevioletred;
    // margin-left: 20%;
    padding: 20px;
    // width: 40%;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}
#course-title{
    color: rgb(87, 84, 84);
    font-size: 30px;
    margin-left: 13%;
}
.enrolled-course-details{
    margin-left: 15%;
}