.widgets{
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}
.income{
    display: flex;
    margin-top: 50px;
}
.income-category{
    display: flex;
    margin-left: 100px;
    align-items: center;
}
.comparison{
    display: flex;
}
.pie-chart{
    align-content: center;
}
