.edit-course{
    align-items: center;
    margin-left: 10%;
    margin-top: 10%;

    .edit-field{
        margin-top: 10px;
        
        // #fee{
        //     margin-top: 20px;
        // }
        // #duration{
        //     margin-right: 10px;
        // }
    }
}